/* static elements */
body{
  box-sizing: border-box;
}
#play-button {
  background-color: #1FDF64;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  text-align: center;
}
#play-icon{
  padding: 2px 0 0 2px; 
}




.color-17 {
  background-image: linear-gradient(#171717, #060606);
}

/* aside left */

#new-playlist-svg{
  background-color: gainsboro;
  color: grey;
}
#Favourite-songs{
  background: linear-gradient(to bottom right,#4015B7,#7A8C89);
}
#add-playlist{
  background-color: lightgray;
}

/* main content */
.navbarSvg {
  background-color: black;
  padding: 3px;
  margin: 5px;
  border-radius: 100%;
}
.profileLogo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

.btn2{
  border: 1px solid white;
}

h2{
  font-size: 2.5em;
}

/* aside right */

.side-icons{
  color: #ffffff;
}

.xicon{
  position: relative;
  top: 2px;
}

.fs-6{
  font-size: 13px !important;
}

/* player navbar */

.row>*{
  margin-left: 0;
}
.row{
  padding-left: 0;
  padding-right: 0;
}

.color-player {
  background-color: #171717;
}

.avanzamento-bg {
  height: 5px;
  width: 30vw;
}

.avanzamento {
  height: 5px;
  width: 40%;
}

.volume-bg {
  height: 5px;
  width: 5vw;
}

.volume {
  height: 5px;
  width: 90%;
}

.dot {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* album */

